<div id="Footer" style="position: fixed; background-color: #212529; color: #6c757d; left: 0; bottom: 0; 
  width: 100%; height: 18%; text-align: center; padding-top: 10px;">

    <h4>Vikas Trivedi</h4>
    
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/" style="color: #6c757d;">Home</a></li>
      <li class="list-inline-item"><a href="/services" style="color: #6c757d;">Services</a></li>
      <li class="list-inline-item"><a href="/about" style="color: #6c757d;">About</a></li>
      <li class="list-inline-item"><a href="/contact" style="color: #6c757d;">Contact Me</a></li>
    </ul>

    <ul calss="list-inline">
      <li class="list-inline-item">
        <a class="nav-link" href="https://www.linkedin.com/in/vikas-trivedi/" target="_blank">
          <i class="fab fa-linkedin" style="color: #6c757d;"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="nav-link" href="https://www.instagram.com/bissscoot/" target="_blank">
          <i class="fab fa-instagram" style="color: #6c757d;"></i>
        </a>
      </li>  
    </ul>

  </div>
  <script src="/jquery/dist/jquery.slim.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/javascripts/app.js"></script>
</body>
</html>