<% include partials/header.ejs %><br><br>
<div class="container">
    <!-- <div >
        <div class = "d-inline" >
            <h3>Vikas Bhargav Trivedi</h3><br>
                Developer, coder and software engineer<br>
                fascinated by all things Artificial Intelligence.
                <br>
                <br>
                Currently based in Toronto,<br>
                studying at Software Engineering with Artificial Intelligence<br>
                at Centennial College
                <br><br>
                <a href="/resources/Vikas Trivedi Resume.pdf" target="blank" style="color: #343a40;">Check out my Resume</a>
        </div>

        <div  class = "d-inline" >
            <img src="/images/Vikas Cool Pic.jpeg" alt="Vikas' Picture" width="20%" height="40%">
        </div>

    </div> -->
    <div class="card mb-3 container" style="max-width: 540px; background-color: gray; border: 0px;">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="/images/Vikas Cool Pic.jpeg" alt="Vikas' Picture" width="40%" class="card-img" >
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h4 class="card-title">Vikas Bhargav Trivedi</h4>
              <p class="card-text">Developer, coder and software engineer<br>
                fascinated by all things Artificial Intelligence.
                <br>
                <br>
                Currently based in Toronto,<br>
                studying at Software Engineering with Artificial Intelligence<br>
                at Centennial College
                <br><br>
                <a href="/resources/Vikas Trivedi Resume.pdf" target="blank" style="color: #343a40;">Check out my Resume</a></p>
              
            </div>
          </div>
        </div>
      </div>
    
</div>

<% include partials/footer.ejs %>