<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <centre>
    <h1><%= title %></h1>
    <p>Hey! It's so nice to see you here!</p>
    </centre>
  </body>
</html>
