<% include partials/header.ejs %>

<div style="width: 20%; display: inline-block; padding-top: 20%;">
</div>
<div style="display: inline-block;">  
  <h2>Welcome!</h2>
  <h4>Hello! I am Vikas.</h4>
  <p style="font-size: large;">Mission: "To learn as much as I can in order to give back<br> 
    all that science has given me."
  </p>
  <a href="/about" style="color: #343a40; text-decoration: none;">Learn more about me...</a>
</div>
<div style="width: 80%;"></div>

<% include partials/footer_fixed.ejs %>