<% include Partials/header.ejs %>
  
  <h1 style="text-align: center;">Projects</h1>
  <br>
  <div class="container">

    <div class="card-group">
      <div class="card" style="background-color: rgb(77, 77, 77);">
        <img src="/images/Project 1.jpg" class="card-img-top" style="padding: 2%;" alt="Project 1">
        <div class="card-body">
          <h5 class="card-title">Pnuemonia Detector</h5>
          <p class="card-text">This application is built to scan the Chest X-Ray image data of thousands of users and train a Deep Learning model to identify the patients with Pnuemonia.</p>
          <p class="card-text" style="text-align: center;"><a target="blank" style="color: #343a40;" href="https://github.com/vikastrivedi0/Pneumonia-Detector">Github</a></p>
        </div>
      </div>
      <div class="card" style="background-color: rgb(77, 77, 77);">
        <img src="/images/Project 2.jpg" class="card-img-top" style="padding: 2%;" alt="Project 2">
        <div class="card-body">
          <h5 class="card-title">American Sign Language Detector</h5>
          <p class="card-text">This is an In-Progress project which makes use of hand gestures images from American Sign Language to train a Deep Learning Model in order to identify the alphabets.</p> 
        </div>
      </div>
      <div class="card" style="background-color: rgb(77, 77, 77);">
        <img src="/images/Project 3.gif" class="card-img-top" alt="Project 3" style="padding: 2%;">
        <div class="card-body">
          <h5 class="card-title">Sudoku Solver</h5>
          <p class="card-text">This is a simple project to solve any kind of SUdoku board with any size and any level of difficulty. This project was created in an effort to merge Python code with JavaScripts.</p>
          <p class="card-text" style="text-align: center;"><a target="blank" style="color: #343a40;" href="https://github.com/vikastrivedi0/Sudoku-Solver">Github</a></p>
        </div>
      </div>
    </div>

  </div>

<% include Partials/footer.ejs %>