<% include Partials/header.ejs %>
  <br>
  <h1 style="text-align: center;">Services</h1><br>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card" style="background-color: rgb(77, 77, 77);">
        <img src="/images/Service1.jpg" class="imgcard" alt="...">
        <div class="card-body">
          <h5 class="card-title">General Programming</h5>
          <p class="card-text">I can provide Programming service in multiple languages including but not limited to Javascripts, Python, Java, C, C++ etc...</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: rgb(77, 77, 77);">
        <img src="/images/Service2.jpg" class="imgcard" alt="...">
        <div class="card-body">
          <h5 class="card-title">Machine Learning Modelling</h5>
          <p class="card-text">Given the data, I can create various Machine Learning Models which can help you understand user behaviour or predict future trends.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: rgb(77, 77, 77);">
        <img src="/images/Service3.jpg" class="imgcard card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Data Modeling and Analysis</h5>
          <p class="card-text">Once the raw data is collected, I can model the data apppropriately which can later be used for multiple purposes.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: rgb(77, 77, 77);">
        <img src="/images/Service4.jpg" class="imgcard card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Website Development</h5>
          <p class="card-text">I can develop and maintain Protfolio or Company Websites which can offer multiple functionality to the users.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: rgb(77, 77, 77);">
        <img src="/images/Service5.png" class=" imgcard card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chatbot Development and Integration</h5>
          <p class="card-text">Given enough and relevant data, I can create chatbots which can help reduce the burden on customer support activities and other similar functionalities.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: rgb(77, 77, 77);">
        <img src="/images/Service6.jpg" class=" imgcard card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Automation</h5>
          <p class="card-text">I can create automation scripts which when run, can test the given website on a given number of testcases and produce a bug report.</p>
        </div>
      </div>
    </div>
  </div>

<% include Partials/footer.ejs %>